
@import url(fonts.css);

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Exo:300,regular,600&display=swap");
/* ========================= ШРИФТИ =============================== */



body{
	font-family: 'Proxima Nova Lt', sans-serif;
}
.header-title{
	font-size: 35px;
	font-family: 'Exo', serif;
	font-weight: 600;
	text-align: center;
	text-shadow: 5px 5px 5px rgba(32,124,229,1);
}
.Satoshi{
	font-family: 'Satoshi-Regular',sans-serif;
	font-weight: 700;
}
.Proxima{
	text-transform: capitalize;
	font-size: 20px;
	line-height: 90%; /* 18/20 */
}
.line-through{
	color: green;
	text-decoration: line-through;
	font-weight: 600;
	font-size: 19px;
}
.underline{
	color: blue;
	text-decoration: underline;
	font-size: 15px;
	text-decoration-color: yellow;
}
.wavy{
color: red;
text-decoration: line-through blue wavy;
font-weight: 600;
font-size: 25px;
}
.dashed{
	font-size: 20px;
	color: orange;
	text-decoration: underline dashed gray;
	font-style: italic;
}
.uppercase{
	text-transform: uppercase;
color: red;
font-weight: 700;
text-shadow: 5px 5px 5px rgba(143,200,0,1);
}
.litter-spacing{
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 7px;
}

.sub-title{
	font-family: 'Open Sans' sans-serif;
	font-style: italic;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	text-shadow: 10px 5px 5px rgba(204,0,0,1), -2px -2px 5px orange; 
}
/* ========================= DZ 1=============================== */
.page{
	color: #2b2929;
}
.page__title{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	line-height: 120%; /* 48/40 */
}
.page p {
	font-weight: 400;
	font-size: 16px;
	line-height: 187.5%; /* 30/16 */
}
.img{
	text-align: center;
}
.footer{
	font-family: 'Proxima Nova Lt', sans-serif;
	color: #2b2929;
	font-size: 20px;
	font-weight: 600;
	line-height: 140%; /* 28/20 */
}
}
/* ========================= DZ 2=============================== */
.content__text .text__orange{
	color: orange;
}
.content__sub-title{
	color: red;
}
#color-blue {
	color: blue;
}
.text {
	color: grey;
}
p.text{
	color: yellowgreen;
}
.bottom a {
	color: blue;
	text-decoration: underline;
	text-decoration-color: yellow;
}
/* ========================= past_lessons =============================== */
